---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import OffCanvas from '../../components/OffCanvas.astro';

export async function getStaticPaths() {
  const services = await getCollection('services');
  return services.map((service) => ({
    params: { slug: service.slug },
    props: { service },
  }));
}

const { service } = Astro.props;
const { Content } = await service.render();

// Set active navigation for each service
const getNavClass = (serviceName: string) => {
  return service.slug === serviceName ? 'uk-active' : '';
};
---

<Layout
  title={service.data.title + " - BDM Consultores"}
  description={service.data.description}
>
  <main>
    <!-- TOP -->
    <div class="uk-position-relative uk-dark background-banner">
      <!-- NAV -->
      <Header currentPage={service.slug} />
      <!-- /NAV -->

      <div class="uk-container uk-cover-container uk-dark uk-flex uk-flex-middle uk-section-large">
        <!-- TOP CONTAINER -->
        <div class="uk-grid top-container uk-child-width-1-3@m uk-margin-medium-top uk-grid-match uk-dark"
          data-uk-parallax="y: 0,50; easing:0; opacity:0.2">
          <div class="uk-width-1-1@s uk-margin"
            data-uk-scrollspy="cls: uk-animation-slide-left-medium; target: > *; delay: 150">
            <h1 class="text-center uk-text-bolder">{service.data.title}</h1>
          </div>
          <div class="uk-width-1-1@s" data-uk-scrollspy="cls: uk-animation-slide-left-medium; target: > *; delay: 150">
            <p class="uk-text-lead text-center" set:html={service.data.description}></p>
          </div>
        </div>
        <!-- /TOP CONTAINER -->
      </div>
    </div>

    <!-- CONTENT CONTAINER -->
    <div id="content" class="uk-container uk-section">
      <div class="uk-article">
        <Content />
      </div>
    </div>
    <!-- /CONTENT CONTAINER -->

    {service.slug === 'nosotros' && (
      <!-- COMMITMENT SECTION -->
      <div class="uk-section uk-section-medium uk-section-muted">
        <div class="uk-container uk-slider-container uk-text-center"
          data-uk-scrollspy="cls: uk-animation-slide-bottom; target: > *; delay: 650">
          <h3 class="uk-card-title-profile uk-margin-remove-bottom">Nuestro Compromiso</h3>
          <p class="uk-text-lead">
            Nuestro principal objetivo es acompañar a las organizaciones en su crecimiento, facilitando el desarrollo de entornos laborales más eficientes y humanos, y generando un impacto positivo y duradero tanto en las empresas como en las personas.
          </p>
        </div>
      </div>
      <!-- /COMMITMENT SECTION -->
    )}

    <!-- FOOTER -->
    <Footer />
    <!-- /FOOTER -->

    <!-- OFFCANVAS -->
    <OffCanvas />
    <!-- /OFFCANVAS -->
  </main>
</Layout>